<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.hardwareLibrary.dao.mapper.ComponentMapper">
  <resultMap id="BaseResultMap" type="com.hl.hardwareLibrary.dao.domain.Component">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="websites" jdbcType="VARCHAR" property="websites" />
    <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
    <result column="pdf_path" jdbcType="VARCHAR" property="pdfPath" />
    <result column="categories" jdbcType="VARCHAR" property="categories" />
    <result column="status_info" jdbcType="INTEGER" property="statusInfo" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>

  <select id="findContentInfo" resultType="com.hl.hardwareLibrary.dao.domain.ext.ComponentView">
    SELECT a.*,COUNT(b.serial_number) count from component a LEFT JOIN component_inventory b on a.id = b.component_id and b.status_info = '1'
      WHERE a.status_info = '1'
    <if test="ids != null and ids.size() != 0 ">
      AND a.id IN
      <foreach close=")" collection="list" item="id" open="(" separator=",">
        #{id}
      </foreach>
    </if>
      GROUP BY a.id
  </select>




  <select id="findContentInfoLike" resultType="com.hl.hardwareLibrary.dao.domain.ext.ComponentView">
    SELECT a.*,COUNT(b.serial_number) count from component a LEFT JOIN component_inventory b on a.id = b.component_id and b.status_info = '1'
    WHERE a.status_info = '1'
    <if test="name != null and name != '' ">
      AND a.name like concat('%',#{name},'%')
    </if>
    <if test="list != null and list.size() != 0 ">
      AND a.id IN
      <foreach close=")" collection="list" item="id" open="(" separator=",">
        #{id}
      </foreach>
    </if>
    GROUP BY a.id
  </select>

  <select id="findViewById" resultType="com.hl.hardwareLibrary.dao.domain.ext.ComponentView">
    SELECT * from component WHERE id = #{id}
  </select>
</mapper>